
/* Global */

html, body {
  font-family: Verdana;
  height: 100%;
}

body {
  padding: 0px 8%;
  width: auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  font-size: 8pt;
}

/* Links */

.name-link:visited,
.name-link:link,
.nav-btn:link,
.nav-btn:visited,
.title-link:link,
.more-link,
.login-link {
  color: black;
}

.nav-btn:active {
  color: white;
}

.title-link:visited,
.author:link,
.author:visited,
.comments:link,
.comments:visited,
.more-link {
  color: #828282;
}

.author:hover,
.comments:hover {
  text-decoration: underline;
}

/* Header */

.header-container,
#logo,
#name,
#login,
#nav-bar {
  height: 22px;
  float: left;
  background-color: #ff6600;
}

.header-container {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}

#logo {
  width: 5%;
}

#logo img {
  position: relative;
  border: 1px solid white;
  padding-top: 2px;
  float: right;
}

#name {
  width: 15%;
}

#name table {
  text-align: left;
  font-weight: bold;
  font-size: 10pt;
}

.name-link {
  font-size: 10pt;
  font-weight: bold;
}

#nav-bar {
  width: 70%;
}

#nav-bar table {
  text-align: left;
  font-size: 10pt;
}

#login {
  width: 10%;
}

#login table {
  float: right;
  font-size: 10pt;
}

/* Body */

.body-container {
  width: 100%;
  background-image: url('background.jpg');
}

#newsfeed {
  padding-top: 2%;
}

#newsfeed ol {
  font-size: 9pt;
}

#newsfeed ol li {
  margin-bottom: 5px;
  font-size: 8pt;
}
.website {
  font-size: 7pt;
  color: #828282;
}


/* Footer */

footer {
  border-top: 2px solid #ff6600;
}

.footer-container {
  padding-top: ;
  width: 100%;
  display: inline;
  background-color: tomato;
}

.footer-container table {
  margin: auto;
  font-size: 8pt;
}

.search {
  text-align: center;
  font-size: 8pt;
  padding-top: 1%
}

.footer-container table {
  padding-top: 1%;
}
.search input {
  border: 1px solid #ff6600;
}

/* articles.erb */

.form {
  padding-top: 5%;
  padding-bottom: 5%;
}

#title,
#url,
#description {
  border: 1px solid #ff6600;
  width: 400px;
  font-size: 8pt;
}

#form-container {
  padding-top: 5%;
  text-align: center;
  font-size: 8pt;
}
